services:
  api:
    build: .
    container_name: chat-api
    restart: unless-stopped
    ports:
      - "5050:5000"

    # Load .env directly
    env_file:
      - ./.env

    environment:
      NODE_ENV: production
