auth:
  build:
    context: .
    dockerfile: Dockerfile
  container_name: auth_service
  restart: always
  env_file:
    - .env.production
  ports:
    - "1971:1234"
  depends_on:
    - mysql
    - redis
    - mongo
    - redpanda
  networks:
    - internal
    - monitoring
